$main-color: #f3f3f3;
$second-color: #99e2d0;
$third-color: #008766;
$fourth-color: #89c8fa;
$fifth-color: #003a68;
$sixth-color: #9356dc;
$seventh-color: white;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 64.8px;
    width: 375px;
    height: 63px;
    img{
        width: 197px;
        height: 37px;
        margin-top: 15px;
    }
    a{
        z-index: 6;
    }
}

.background-menu{
    object-fit: cover;
    min-width: 375px;
    width: 100%;
    height: 275px;
    position: relative;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    @media (min-width: 1024px) {
        width: 80%;
    }
    .menu{
        margin-top: 260px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 375px;
        gap: 40px;
        overflow: hidden;

        .menu-title{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 17px;
            margin-top: 32px;
            gap: 30px;
            h1{
                align-self: baseline;
            }
            form{
                position: relative;
                .liked{
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    left: 0;
                }
                input{
                    position: absolute;
                    z-index: 3;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
                input:checked + .default + .liked{
                    transition: 3s;
                    opacity: 1;
                }
                input:not(:checked) + .default +.liked{
                    transition: 3s;
                    opacity: 0;
                }

            }
        }
        .entrees-cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 95%;
            gap: 12px;
            animation: slideRight ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode:both;
            animation-delay: 1s;
            @media (min-width: 1024px) {
                width: 60%;
            }
            h2{
                width: 95%;
                text-align: left;
                span{
                    border-bottom: 3px solid $second-color;
                }
            }
            .cards{
                display: flex;
                flex-direction: column;
                width: 95%;
                gap: 12px;
                .card{
                    background-color: $seventh-color;
                    display: flex;
                    align-items: end;
                    border-radius: 15.04px;
                    height: 69px;
                    position: relative;
                    &:hover .card-content{
                        width: 90%;
                    }
                    &:hover .card-absolute{
                        opacity: 1;
                        transform: translateX(-60px);
                    }
                    .card-content{
                        display: flex;
                        justify-content: center;
                        align-items: end;
                        width: 100%;
                        transition: 2s;
                        .price{
                            margin-bottom: 13.5px;
                            display: flex;
                            justify-content: center;
                            width: 10%;
                        }
                        .plate{
                            width: 85%;
                            height: 69px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 5px;
                            h4{
                                padding: 0;
                                size: 15.04px;
                            }
                            p{
                                padding: 0;
                                size: 15.04px;
                            }
                        }
                    }
                    .card-absolute{
                        position: absolute;
                        background-color: #99E2D0;
                        height: 69px;
                        width: 59px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        right: -60px;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        opacity: 0;
                        transition: 1s;
                        .fa-circle-check{
                            color: white;
                        } 
                    }
                }
            }
        }
        .plats-cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 95%;
            gap: 12px;
            animation: slideRight ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode:both;
            animation-delay: 3s;
            @media (min-width: 1024px) {
                width: 60%;
            }
            h2{
                width: 95%;
                text-align: left;
                span{
                    border-bottom: 3px solid $second-color;
                }
            }
            .cards{
                display: flex;
                flex-direction: column;
                width: 95%;
                gap: 12px;
                .card{
                    background-color: $seventh-color;
                    display: flex;
                    align-items: end;
                    border-radius: 15.04px;
                    height: 69px;
                    position: relative;
                    &:hover .card-content{
                        width: 90%;
                    }
                    &:hover .card-absolute{
                        opacity: 1;
                        transform: translateX(-60px);
                    }
                    .card-content{
                        display: flex;
                        justify-content: center;
                        align-items: end;
                        width: 100%;
                        transition: 2s;
                        .price{
                            margin-bottom: 13.5px;
                            display: flex;
                            justify-content: center;
                            width: 10%;
                        }
                        .plate{
                            width: 85%;
                            height: 69px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 5px;
                            h4{
                                padding: 0;
                                size: 15.04px;
                            }
                            p{
                                padding: 0;
                                size: 15.04px;
                            }
                        }
                    }
                    .card-absolute{
                        position: absolute;
                        background-color: #99E2D0;
                        height: 69px;
                        width: 59px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        right: -60px;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        opacity: 0;
                        transition: 1s;
                        .fa-circle-check{
                            color: white;
                        } 
                    }
                }
            }
        }
        .desserts-cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 95%;
            gap: 12px;
            animation: slideRight ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode:both;
            animation-delay: 5s;
            @media (min-width: 1024px) {
                width: 60%;
            }
            h2{
                width: 95%;
                text-align: left;
                span{
                    border-bottom: 3px solid $second-color;
                }
            }
            .cards{
                display: flex;
                flex-direction: column;
                width: 95%;
                gap: 12px;
                .card{
                    background-color: $seventh-color;
                    display: flex;
                    align-items: end;
                    border-radius: 15.04px;
                    height: 69px;
                    position: relative;
                    &:hover .card-content{
                        width: 90%;
                    }
                    &:hover .card-absolute{
                        opacity: 1;
                        transform: translateX(-60px);
                    }
                    .card-content{
                        display: flex;
                        justify-content: center;
                        align-items: end;
                        width: 100%;
                        transition: 2s;
                        .price{
                            margin-bottom: 13.5px;
                            display: flex;
                            justify-content: center;
                            width: 10%;
                        }
                        .plate{
                            width: 85%;
                            height: 69px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 5px;
                            h4{
                                padding: 0;
                                size: 15.04px;
                            }
                            p{
                                padding: 0;
                                size: 15.04px;
                            }
                        }
                    }
                    .card-absolute{
                        position: absolute;
                        background-color: #99E2D0;
                        height: 69px;
                        width: 59px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        right: -60px;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        opacity: 0;
                        transition: 1s;
                        .fa-circle-check{
                            color: white;
                        } 
                    }
                }
            }
        }
        .cta{
            width: 186px;
            height: 50px;
            border-radius: 25px;
            border: none;
            color: $seventh-color;
            background: linear-gradient(#9356DC,#FF79DA);
            margin-bottom: 40px;
            transition: 2s;
            &:hover{
                transform: scale(1.15);
                box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba($color: #67007e, $alpha: 0.7);
            }
        }
    }

}

footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 375px;
    width: 100%;
    background-color: #242424;
    @media (min-width: 1024px) {
        min-width: 125%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
        align-items: center;
        gap:10px;
        height: 114px;
    } 
    img{
        width: 137px;
        margin-top: 22px;
        margin-left: 25px;
        filter: brightness(0) invert(1);
        @media (min-width: 1024px) {
            width: 11%;
            height: 27px;
            padding-right: 25px;
        }
    }
    .footer-liens{
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 25px;
        margin-bottom: 22px;
        gap: 7px;
        @media (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            align-items: end;
            margin-bottom: 0;
            margin-top: 30px;
            gap: 7px;
        }
        a{
            text-decoration: none;
            color: $seventh-color;
        }

    }
}

@keyframes slideRight {
  from {
    transform: translateX(-200%);
  }
  to{
    transform: translateX(0%);
  }
}