$main-color: #f3f3f3;
$second-color: #99e2d0;
$third-color: #008766;
$fourth-color: #89c8fa;
$fifth-color: #003a68;
$sixth-color: #9356dc;
$seventh-color: white;

*{
    font-family: 'Roboto';
}

body{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
    .loader{
        background-color: #242424;
        width:100%;
        height: 100%;
        position:fixed;
        z-index: 3;
        top: 0;
        left: 0;
        animation: cesameOpenUp ease-out;
        animation-fill-mode: forwards;
        animation-delay: 0s;
        animation-duration: 5s;
        .circle{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100px;
            height: 100px;border-radius: 50%;
            border: 10px solid rgba(255,255,255,0.7);
            border-top: 10px solid #fff;
            animation: animate  infinite linear;
            animation-delay: 0s;
            animation-duration: 3s;
        }
    }
}
@keyframes animate 
{
    0%
    {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
@keyframes cesameOpenUp
{
    0%
    {
        opacity: 1;
        display: flex;
    }
    50%
    {
        opacity: 1;
    }
    99%
    {
        z-index: 3;
    }
    100%
    {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 375px;
    width: 100%;
    height: 113px;
    margin: 0;
    img{
        width: 197px;
        height: 37px;
        margin-top: 15px;
    }
    form{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        #search{
            border: none;
            background-color: #f3f3f3;
        }
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 375px;
    width: 100%;
    margin: 0;
    padding: 0;
    section{
        display: flex;
        flex-direction: column;
        min-width: 375px;
        width: 100%;
    }
    .section-intro{
        background-color: #eaeaea;
        align-items: center;
        padding-bottom: 57px;
        @media (min-width: 1024px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1, p{
            text-align: center;
            margin: 0;
            padding: 0;
        }
        h1{
            font-size: 30px;
            font-weight: 700;
            margin-top: 39px;
            width: 100%;
            @media (min-width: 1024px) {
                font-size: 40px;
                margin-top: 30px;
                margin-bottom: 16px;
                padding: 0;
            }
        }
        p{
            font-size: 18px;
            font-weight: 300;
            @media (min-width: 1024px) {
                margin: 0;
                padding: 0;
                margin-bottom: 18px;
            }
        }
        .cta{
            margin-top: 27px;
            width: 218px;
            height: 50px;
            border-radius: 25px;
            border: none;
            color: $seventh-color;
            background: linear-gradient(#9356DC,#FF79DA);
            transition: 0.5s;
            &:hover{
                filter : brightness(1.05);
                transform: scale(1.15);
                box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba($color: #67007e, $alpha: 0.7);
            }
            @media (min-width: 1024px) {
                margin-top: 0;
            }
        }
    }
    .section-instructions{
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: $seventh-color;
        padding-bottom: 68px;
        @media (min-width:1024px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h2{
            text-align: left;
            margin-left: 10px;
            @media (min-width: 1024px) {
                margin-left: 0;
                width: 780px;
            }
        }
        .instructions-block{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 24px;
            @media (min-width:1024px) {
                display: flex;
                flex-direction: row;
                width: 780px;
                gap: 32px;
            }
            article{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 23.7px;
                background-color: #f6f6f6;
                text-align: center;
                border-radius: 25px;
                box-shadow: 0px 4px 15px 0px #00000026;
                height: 72px;
                width: 90%;
                position: relative;
                .numero{
                    background-color: $sixth-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $main-color;
                    border-radius: 20px;
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    left: -12px;
                }
                .instruction-content{
                    display: flex;
                    align-items: center;
                    gap: 23px;
                }
            }
        }
        .first-instruction i{
            opacity: 0.5;
        }
        .second-instruction i{
            opacity: 0.5;
        }
        .third-instruction i{
            color: $sixth-color;
        }
    }
    .restaurants-cards{
        background-color: $main-color;
        align-items: center;
        gap: 15px;
        padding-bottom: 62px;
        @media (min-width: 1024px) {
        }
        h2{
            width: 100%;
            text-align: left;
            margin-left: 17px;
            @media (min-width: 1024px) {
                margin-left: 0;
                width: 780px;
            }
        }
        .cards{
            min-width: 341px;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 18px;
            @media (min-width: 1024px) {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 50px;
            }
            .cards_{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 18px;
                @media (min-width: 1024px) {
                    display: flex;
                    flex-direction: row;
                    gap: 100px;
                }
                a{
                    text-decoration: none;
                    color: #242424;
                    .alafrançaise{
                        .card-imgEtNew{
                            p{
                                display: none;
                            }
                        }
                    }
                    .ledélicedessens{
                        .card-imgEtNew{
                            p{
                                display: none;
                            }
                        }
                    }
                    article{
                        display: flex;
                        flex-direction: column;
                        background-color: $seventh-color;
                        border-radius: 15px;
                        height: 251px;
                        box-shadow: 0px 4px 15px 0px #0000001A;
                        @media (min-width: 1024px) {
                            min-width: 341px;
                            width: 100%;
                        }
                        .card-imgEtNew{
                            width: 100%;
                            height: 60%;
                            display: flex;
                            flex-direction: column;
                            align-items: end;
                                border-top-left-radius: 15px;
                                border-top-right-radius: 15px;
                            img{
                                position: relative;
                                object-fit: cover;
                                height:100%;
                                width: 100%;
                                border-top-left-radius: 15px;
                                border-top-right-radius: 15px;
                            }
                            p{
                                position: absolute;
                                color: #008766;
                                background-color: #99e2d0;
                                padding: 6px;
                                margin-right: 15px;
                            }
                        }
                        .card-content{
                            margin-left: 10px;
                            margin-right: 10px; ;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            form{
                                position: relative;
                                width: 10%;
                                .default{
                                    i{
                                        font-size: 1.4em;
                                    }
                                }
                                .liked{
                                    opacity: 0;
                                    position: absolute;
                                    z-index: 2;
                                    left: 1px;
                                    top: 1px;
                                    width: 22px;
                                }
                                input{
                                    position: absolute;
                                    z-index: 3;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0;
                                }
                                & input:checked + .default + .liked{
                                    transition: 3s;
                                    opacity: 1;
                                }
                                & input:checked + .default{
                                    opacity: 0;
                                }
                                & input:not(:checked) + .default +.liked{
                                    transition: 3s;
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 375px;
    width: 100%;
    background-color: #242424;
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
        align-items: center;
        gap:10px;
        height: 114px;
    }
    img{
        width: 137px;
        margin-top: 22px;
        margin-left: 25px;
        filter: brightness(0) invert(1);
        @media (min-width: 1024px) {
            width: 11%;
            height: 27px;
            padding-right: 25px;
        }
    }
    .footer-liens{
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 25px;
        margin-bottom: 22px;
        gap: 7px;
        @media (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            align-items: end;
            margin-bottom: 0;
            margin-top: 30px;
            gap: 7px;
        }
        a{
            text-decoration: none;
            color: $seventh-color;
            display: flex;
            gap: 8px;
            text-align: left;
        }

    }
}


